* { 
    box-sizing: border-box;
}


/*FONT*/

@font-face {
    font-family: 'poiret_oneregular';
    src: url('../fonts/poiretone-regular-webfont.woff2') format('woff2'),
         url('../fonts/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*FONT FAMILY*/

#txtjcvd{
    text-align: justify;
    max-width: 50%;
}

h1{
    font-weight: bolder;
    font-family: 'poiret_oneregular';
    color: whitesmoke;
    
}
span{
    color: whitesmoke;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p{
    color: whitesmoke;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

li{
    color: thistle;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Fin FONT*/

body {
    background: url(../img/fondecran.png)  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center ;
}

 a:hover {
     cursor: pointer;
     color: red;
     border-radius: 0px;
     background-color: cornflowerblue; 
 }
 
 .imageJCVD {
    
    display: flex;

 }

 table{
     color: rgb(179, 179, 179);
 }
 
 
